body{
  background-color: rgb(242, 242, 223);
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.task-box::-webkit-scrollbar {
  width: 10px;
}

.task-box::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 4px;
  height: 2px;
}

